services:
  - name: docker:stable-dind
    entrypoint: ["dockerd"]
    command: ["--host=0.0.0.0:2375", "--experimental"]

stages:
  - build-images

make-chisel-images:
  stage: build-images
  tags:
    - docker
    - multiarch
  script:
    - apk add make curl
    - mkdir -p ~/.docker/cli-plugins
    - curl -sSL -o ~/.docker/cli-plugins/docker-buildx https://github.com/docker/buildx/releases/download/v0.3.1/buildx-v0.3.1.linux-amd64
    - chmod +x ~/.docker/cli-plugins/docker-buildx
    - docker login -u $DOCKER_USER -p $DOCKER_PWD
    - make chisel-manifest
 
